@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="ftp://scrumoffice%5CHaobo:DHB482dhb@waws-prod-hk1-003.ftp.azurewebsites.windows.net/site/wwwroot/UploadedPic/636148298377683258.jpg" />
<p>Use this area to provide additional information.</p>
