@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jiangwangcheng Rd. No.99<br />
    Shanghai<br />
    <abbr title="WeChat">WeChat:</abbr>dinghaobo
    <strong>Support:</strong>   <a href="mailto:dinghaobo@hotmail.com">dinghaobo@hotmail.com</a>
</address>