@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Publish Item</h2>
        <p>You can publish available item via this link.</p>
        <p><a class="btn btn-default" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx25c7164abf77f19c&redirect_uri=http://scrumoffice.azurewebsites.net/Item/Create&response_type=code&scope=snsapi_base&state=create#wechat_redirect">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Item List</h2>
        <p>You can check available item list via this link.</p>
        <p><a class="btn btn-default" href="~/Item/ListView">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Support</h2>
        <p>You can contact support via this link.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>