@font-face {
    font-family: 'Futura ND for Nike 365 Cn XBd';
    src: url('../fonts/NFUNCXBD.eot');
    src: url('../fonts/NFUNCXBD.eot?#iefix') format('embedded-opentype'), url('../fonts/NFUNCXBD.woff') format('woff'), url('../fonts/NFUNCXBD.ttf') format('truetype'), url('../fonts/NFUNCXBD.svg#SingleMaltaRegular') format('svg');
}

@font-face {
    font-family: 'Trade Gothic for Nike 365 BdCn';
    src: url('../fonts/TradeGothicForNike.eot');
    src: url('../fonts/TradeGothicForNike.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicForNike.woff') format('woff'), url('../fonts/TradeGothicForNike.ttf') format('truetype'), url('../fonts/TradeGothicForNike.svg#SingleMaltaRegular') format('svg');
}


body {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

h1 {
    font-family: 'Futura ND for Nike 365 Cn XBd';
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 0px 0px 0px;
}

h2 {
    font-family: 'Futura ND for Nike 365 Cn XBd';
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 0px 0px 0px;
}

h3 {
    font-family: 'Futura ND for Nike 365 Cn XBd';
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 0px 0px 0px;
}

h4 {
    font-family: 'Futura ND for Nike 365 Cn XBd';
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 0px 0px 0px;
}

p,
span,
input,
select,
textarea,
label {
    font-family: 'Trade Gothic for Nike 365 BdCn';
    font-size: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    min-width: 50%;
}

    input[type=submit] {
        font-family: 'Trade Gothic for Nike 365 BdCn';
        font-size: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 100%;
        min-width: 50%;
    }

.context {
    width: 100%;
}

.itemList {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2% 2% 2% 2%;
    background-color: #ffffff;
}

.controlForm {
    float: left;
    width: 100%;
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
}

.controlBlock {
    float: left;
    width: 100%;
}

.controlLabel {
    float: left;
    width: 100%;
    font-size: 1em;
    color: #808080;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.controlContent {
    float: left;
    width: 100%;
    font-size: 1.2em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

    .controlContent div {
        float: left;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

.imageList {
    float: left;
    width: 100%;
    text-overflow: clip;
}

    .imageList img {
        float: left;
        width: 28%;
        height: 80px;
        margin: 3px 3px 3px 3px;
        padding: 0px 0px 0px 0px;
    }

.searchArea {
    width: auto;
    padding: 5px 5px 5px 5px;
}

.searchResult {
    width: auto;
    margin-top: 20px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.searchText {
    float: left;
    width: 70%;
}

    .searchText input[type=text] {
        width: 90%;
        font-family: 'Trade Gothic for Nike 365 BdCn';
        font-size: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

.searchButton {
    float: left;
    width: 30%;
}

    .searchButton input[type=submit] {
        width: 90%;
        font-family: 'Trade Gothic for Nike 365 BdCn';
        font-size: 100%;
        font-weight: bold;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

.item {
    float: left;
    width: 95%;
    border-bottom-color: #bababa;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.itemTitle {
    float: left;
    width: 100%;
    font-family: 'Futura ND for Nike 365 Cn XBd';
    font-size: 1.1em;
    font-weight: bold;
}

.itemAuthor {
    float: left;
    width: 100%;
    font-family: 'Trade Gothic for Nike 365 BdCn';
    font-size: 1em;
    font-weight: bold;
}

.itemPicture {
    float: left;
    width: 100%;
    text-overflow: clip;
}

    .itemPicture img {
        float: left;
        width: 28%;
        height: 80px;
        margin: 3px 3px 3px 3px;
        padding: 0px 0px 0px 0px;
    }

.itemDescript {
    float: left;
    width: 100%;
    font-family: 'Trade Gothic for Nike 365 BdCn';
    font-size: 0.9em;
}

.itemExpectation {
    float: left;
    width: 100%;
    font-family: 'Trade Gothic for Nike 365 BdCn';
    font-size: 0.9em;
}

.itemOpetion {
    float: left;
    width: 100%;
    font-family: 'Trade Gothic for Nike 365 BdCn';
    font-size: 0.9em;
}

    .itemOpetion input[type=button] {
        float: right;
        min-width: 50px;
        font-family: 'Trade Gothic for Nike 365 BdCn';
        font-size: 0.9em;
    }

.bottomMenu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 30px;
    background-color: #000000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

    .bottomMenu ul {
        list-style: none;
        min-width: 100%;
        min-height: 30px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

        .bottomMenu ul li {
            float: left;
            min-width: 25%;
            min-height: 30px;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
        }

            .bottomMenu ul li div {
                float: left;
                min-width: 100%;
                min-height: 30px;
                font-family: 'Futura ND for Nike 365 Cn XBd';
                font-size: 1.1em;
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
                color: #ffffff;
                border-color: #ffffff;
                border-width: 1px;
                border-style: solid;
            }
