<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <defaultProxy></defaultProxy>
  </system.net>
  <connectionStrings>
    <!--<add name="Wechat.Properties.Settings.WechatDBConnectionString"
      connectionString="connectionstring" providerName="System.Data.SqlClient" />-->
    <add name="Wechat.Properties.Settings.WechatDBConnectionString"
      connectionString="Server=tcp:wechathubqa.database.windows.net,1433;Database=WechatHubDB_QA;User ID=Jeff@wechathubqa;Password=Password01!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--test account: lu_jj033172@outlook.com-->
    <add key="AppID" value="wxdbb288aa372b8280"/>
    <add key="AppSecret" value="12b14302141437c367156ce1a7b0ae42"/>
    <add key="SignatureToken" value="JeffToken1"/>
  </appSettings>

</configuration>
